td:hover{
    color:aliceblue;
    transition: all 0.4s ease;
}
table ,td,tr{
    border: 1px solid black ;
    border-collapse: collapse;
    
}

.domingo{
    color:red;
}
h2{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.azul {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: LightBlue
}
 
.verde {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: PaleGreen
}
.rosa{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color:LightPink
}
.roxo{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color:SlateBlue
}


